.navbar {
  background-color: black;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 9.3125rem;
  justify-content: space-between;
  padding: 1.125rem 0 0.75rem 0;
  box-sizing: border-box;
}

.navbar_home {
  display: inline-flex;
  align-items: center;
  padding-left: 5.6875rem;
  flex-shrink: 0;
}

.navbar_home img {
  height: 3.75rem;
  width: auto;
  display: block;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding-right: 1.75rem;
}

.navbar_link {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
}