.hero_default {
  width: 100vw;
  padding: 9.9375rem 0 0 14rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .heading {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.5rem;
    .heading_highlight {
      color: #FF0101;
    }
  }

  .text {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}